table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tbody {
  text-align: justify;
}

th {
  font-size: 18px;
  font-weight: 700;
}

.mission {
  width: 9%;
}

.description {
  width: 70%;
}

td:nth-child(odd) {
  font-size: 18px;
  font-weight: 700;
}

td {
  line-height: 1.4rem;
  font-size: 16px;
}